<li class="slider__frame glide__slide">
        <!-- <div class="banner-player"> -->
        <img src="<%= img %>" class="img-banner">
        <!-- </div> -->
        <div class="description">
            <article class="titleFilm releaseName"><%= name %></article>
            <article id="addlist<%= index %>" class="actionLabel">Adicionar à lista</article>
            <img src="../img/icons/addWatchlist.svg">
        </div>
        <!-- <article class="titleFilm"><%= name %></article>
        <article><p>Descrição:</p><%= description %></article>
        <article><p>Local de Exibição:</p><%= exibitionLocation %></article> -->
</li>  