
    <div class="grid-item">
        <div class="iconsContainer" style="background-image: url(<%= img %>);">
            <div class="actionIcons">
                <a href="player.html?id=<%= id %>">
                    <img src="../img/icons/play.svg" class="playIcon"><br/>
                </a>
                <div id="<%= id %>" class="addBlock">
                    <h1 class="actionLabel" id="<%= id %>ActionLabel">Adicionar à lista</h1>
                    <img src="../img/icons/addWatchlist.svg" class="watchlistIcon">
                </div>
            </div>
            <!-- <img src="../img/films/movie.jpg" class="img-film"> -->
        </div>
        <article class="movieCardName"><%= name %></article>
    </div>

<script>
    
    $("#<%= id %>").click( function(){

        const id = $(this).attr("id");

        const data = {
            videoID: id,
            userID: getCookie("userId")
        }
        
        $.post("/api/user/addToWatchlist", data, (response) => {
            const err = response.err
            const addedToWatchList = response.addedToWatchList

            if (err) {
                alert("Problema a adicioanr na watchlist");
            } else if (addedToWatchList) {
                $(`#${id}ActionLabel`).html("Remover da lista");
                $("#textFeedback").text("Vídeo adicionado na lista");
                $("#feedbackBar").animate({opacity: '1'});
                $("#feedbackBar").show();
                function esconder(){
                    $("#feedbackBar").animate({opacity: '0'});
                }
                function darHide(){
                    $("#feedbackBar").hide();
                }
                setTimeout(esconder, 3000);
                setTimeout(darHide, 3200);
            } else {
                $(`#${id}ActionLabel`).html("Adicionar na lista");
                $("#textFeedback").text("Vídeo removido da lista");
                $("#feedbackBar").animate({opacity: '1'});
                $("#feedbackBar").show();
                function esconder(){
                    $("#feedbackBar").animate({opacity: '0'});
                }
                function darHide(){
                    $("#feedbackBar").hide();
                }
                setTimeout(esconder, 3000);
                setTimeout(darHide, 3200);
            }
        })

    })

</script>

<style>

    .grid-item {
        width: 200px;
    }

    .grid-item .iconsContainer{
        height: 258px;
        overflow:hidden;
        background-size: cover;
        background-position: top;
        display: grid;
        justify-items: center;  
        align-items: center;    
    }
    
    .grid-item:hover .actionIcons {
        display: block;
    }

    .actionIcons{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        cursor: pointer;
    }

    .actionIcons h1{
        float: left;
        margin-left: 10px;
    }

    .addBlock:hover h1{
        color: var(--darkish-pink);
    }

    .actionIcons .playIcon{
        width: 100px;
        margin-top: 25%;
        margin-left: 25%;
        float: left;
    }

    .actionIcons .watchlistIcon{
        float: right;
        width: 20px;
        margin-right: 10px;
        margin-top: -1px;
    }

    .actionIcons div{
        width: 100%;
        height: 32px;
        background-color: var(--dark-blue-grey);
        margin-top: 76px;
        float: left;
        padding: 7px;
    }

    .grid-item article{
        padding: 15px;
        text-align: center; 
        text-decoration: none !important;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.1);
    }
        .grid-item:hover article{
            backdrop-filter: blur(30px);
            background-color: rgba(221, 48, 96, 0.8);
    }
    
</style>