<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

	<title>Perfil</title>
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
		<article class="titles sectionHeader"><img src="../img/icons/back.svg" id="iconBack">Perfil</article>
        <div class="content-principal">

            <div class="grid">
				<div class="grid-left">
					<div class="infos">
						<div class="imgDiv">
							<article id="imgProfile"></article>
							<div class="backgroundImg"></div>
						</div>
						<div class="profileRect">
							<h1 class="usernameLabel"><%= user.name %></h1>
							<h1 id="email" class="userEmailLabel"><%= user.email %></h1>
							<a href="editProfile.html"><button id="btn-editProfile" class="buttonLabel">EDITAR</button></a>
						</div>
					</div>
					<div>
						<div class="titleLine">
							<article class="sectionHeader">Minha Lista</article>
							<a href="recommended.html" id="minhaListaAnchor"><button class="btn-viewMore buttonLabel">MAIS</button></a>
						</div>
						<div class="movieCardContainer">
							<% user.watchList.forEach(function(item){ %>
								<%- include("../partials/cards/movieCard", {name: item.name, id: item._id, img: item.thumbnailPath}); %> 
							<% }); %>
						</div>
					</div>
				</div>
				<div class="grid-right">
					<div class="titleLine">
						<article class="sectionHeader">Videos Enviados</article>
						<a href="recommended.html" id="videosEnviadosAnchor"><button class="btn-viewMore buttonLabel">MAIS</button></a>
					</div>
					<div class="movieCardContainer">
						<% videosPosted.forEach(function(item){ %>
							<%- include("../partials/cards/movieCard", {name: item.name, id: item._id, img: item.thumbnailPath}); %> 
						<% }); %>
					</div>
				</div>
            </div>
            
        </div>

	</section>
	
	<%- include('../partials/tabBar', {currentPage: "none"}); %>
	
    <footer><h1 class="footer">©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
    <script src="../js/profile.js"></script>
</body>
</html>